@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap");
@import "var", "mixin", "normalize";


.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
 }

/* ----------section fresh ------------*/

.fresh {
  min-height: 100vh;
  color: #262626;
  background: url("/img/bg_fresh.png") no-repeat top center/cover;
}

.fresh__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
}

.header-fresh__logo {
  font-family: "Pacifico", cursive;
  font-size: 50px;
}

.header-fresh__nav {
  display: flex;
  justify-content: space-between;
  width: 47%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.header-fresh__link {
  text-decoration: none;
  color: inherit;
  border-top: 3px solid transparent;
  padding-top: 3px;
  &:hover {
    border-top: 3px solid rgb(255, 96, 51);
    padding-top: 3px;
    transition: 0.5s;
    box-sizing: border-box;
  }
}
.fresh__main {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  max-width: 375px;
}
.main-fresh__heading {
   @include title(60px, $fontColorBlack, left);
   font-weight: 900;
   margin: 232px 0px 0px 0px;
}

.main-fresh__text {
  @include text($fontColorBlack, left, 27px);
  margin: 13px 0px 28px 5px;
}

.main-fresh__btn {
  @include btn(#ff6033);
  margin: 0 0 401px 8px;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

/* -------section about-------- */

.about {
  background-color: #00c4c4;
}

.about__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -14px;
}

.about__img {
  margin: 36px -49px;
}

.about__description {
  margin: 0px 0px 88px 120px;
  color: #ffffff;
}

.about__heading {
  @include title(90px, $fontColorWhite, left);
  margin: 5px 0px 6px 0px;
 
}
.about__text {
  @include text($fontColorWhite, left, 27px);
   margin: 0 0 0px 0;
    &:not(:last-child) {
      margin-bottom: 8px;
    }

}
  
/* -----------section gallery----------*/
.gallery {
  background: #ffe92f;
  max-width: 100%;
}

.container {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header-gallery__heading {
  @include title(90px, $fontColorBlack, center);
  // padding: 80px 0 0px 0;
  margin: 80px 0 0px 0;
}

.header-gallery__text {
  @include text($fontColorBlack, center, 27px);
  max-width: 580px;
  margin: 23px auto 29px;
}

.main-gallery {
  display: flex;
  flex-direction: column;
}

.main-gallery__row {
  display: flex;
  flex-direction: row;
}

.main-gallery__cell {
  max-width: 100%;
  &:nth-child(odd) {
    margin: 15px 15px 0 0px;
  }
   &:nth-child(even) {
     margin: 15px 0px 0 15px;
   }
}

.main-gallery__img--add-margin {
  margin-bottom: 30px;
}

.footer-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn {
   @include btn(#5585a2);
   margin: 50px auto 120px;
   }
  }
